* {
    box-sizing: border-box;
    margin: 0;
    /* border: 1px solid black; */

    
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    background-color: #fff;
    margin: 10px;;
    gap: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    object-fit: contain;
    width: 100%;
    border-radius: 5px;;
}

figcaption {
    position: absolute;;
    z-index: 1;
    top: calc(100% - 3rem);
    opacity: 0.25;
    color: #000;
    background: #fff;
    font-size: 1.2rem;
    mix-blend-mode: screen;
    font-family: Arial, Helvetica, serif;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

figcaption:hover {
    opacity: 1;
}